.contracts {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
    background: #FFFFFF;
    width: 342px;
    min-height: 628px;
    border: 1px solid #898989;
    box-sizing: border-box;
    border-radius: 4px;
}