<div class="top-wrap">
    <a href="#" class="logo">
        <img src="assets/img/older-gigworks-logo1.png">
        <span>Gigworks</span>
    </a>
    <div class="ev">
        <span class="ev__item ev__item--hide">-</span>
        <span class="ev__item ev__item--win"></span>
        <span class="ev__item ev__item--exit"></span>
    </div>
</div>
<div class="name">
    <img src="assets/img/avatar.png" alt="">
    <span class="name__title">Name Surname</span>
    <div class="name__wr">
        <span class="name__ev name__ev--notific"></span>
        <span class="name__ev name__ev--settings"></span>
    </div>
</div>



