.footer {
    p {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #212529;
        margin: 13px 0 0 0;
        a {
            background: linear-gradient(270deg, #FF4F56 0%, #FF7733 107.17%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 14px;
            margin: 4px 0 0 0;
        }
    }
    
}